.changePasswordContainer {
  min-height: 100vh;
  background: #e9eaee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.changePasswordCard {
  width: 500px;
  background: #0b0b23;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.changePasswordCard h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.changePasswordCard input {
  width: 100%;
  padding: 18px;
  border: 1px solid rgba(108, 99, 255, 0.3);
  border-radius: 12px;
  background: rgba(255,255,255,0.05);
  color: white;
  font-size: 16px;
  outline: none;
}

.changePasswordCard input::placeholder {
  color: #a7a7a7;
}

.changePasswordCard input:focus {
  border-color: #6c63ff;
}

.changePasswordCard button {
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #6c63ff, #7f5af0);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.changePasswordCard button:hover {
  opacity: 0.9;
}