.forgotContainer {
  min-height: 100vh;
  background: #e9eaee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.forgotCard {
  width: 450px;
  background: #0b0b23;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.forgotCard h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.forgotText {
  color: #bdbdbd;
  text-align: center;
  line-height: 1.5;
  font-size: 15px;
}

.forgotCard input {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(108, 99, 255, 0.3);
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: 0.3s ease;
}

.forgotCard input::placeholder {
  color: #a0a0a0;
}

.forgotCard input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.3);
}

.forgotCard button {
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #6c63ff, #7b61ff);
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.forgotCard button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(108, 99, 255, 0.35);
}

.forgotCard button:active {
  transform: scale(0.98);
}