.resetContainer {
  min-height: 100vh;
  background: #e9eaee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.resetCard {
  width: 450px;
  background: #0b0b23;
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,.25);
}

.resetCard h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 32px;
}

.subtitle {
  text-align: center;
  color: #bdbdbd;
  margin-bottom: 35px;
  font-size: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.inputGroup label {
  margin-bottom: 8px;
  color: #c9c9c9;
  font-size: 15px;
}

.inputGroup input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(108, 99, 255, 0.3);
  background: rgba(255,255,255,.05);
  color: white;
  font-size: 16px;
  outline: none;
  transition: .3s;
}

.inputGroup input:focus {
  border-color: #6c63ff;
}

.inputGroup input::placeholder {
  color: #888;
}

.resetCard button {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
  background: linear-gradient(90deg,#6c63ff,#8d6bff);
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.resetCard button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(108,99,255,.4);
}